<div class="animate__animated animate__fadeIn animate__faster">
    <h4>Capital</h4>
    <hr>

    <div class="row">
        <div class="col">
            <app-search placeholder="Search by capital..." (onEnter)="search($event)"></app-search>
        </div>
    </div>

    <hr>

    <div class="alert alert-danger" *ngIf="isError">
        No results found for your search: <b>"{{term}}"</b>
    </div>

    <div class="row" *ngIf="countries.length > 0">
        <div class="col">
            <app-country-table [countries]="countries"></app-country-table>
        </div>
    </div>
</div>