<div class="animate__animated animate__fadeIn animate__faster">
    <h4>Country</h4>
    <hr>

    <div class="row">
        <div class="col">
            <app-search placeholder="Search by country..." (onEnter)="search($event)"
                (onDebounce)="suggestions($event)">
            </app-search>
        </div>
    </div>

    <ul class="list-group" *ngIf="showSuggestions">
        <li *ngFor="let suggested of suggestedCountries" class="list-group-item list-group-item-action cursor-p">
            <a class="nav-link" [routerLink]="['/country', suggested.alpha2Code]"> <span
                    class="me-3">{{suggested.name}}</span> <img [src]="suggested.flag" [style.width.px]="25"> </a>
        </li>
        <li class="list-group-item list-group-item-action cursor-p">
            <a class="nav-link" (click)="search(term)">Search <strong>"{{term}}"</strong></a>
        </li>
    </ul>

    <hr>

    <div class="alert alert-danger" *ngIf="isError">
        No results found for your search: <b>"{{term}}"</b>
    </div>

    <div class="row" *ngIf="countries.length > 0">
        <div class="col">
            <app-country-table [countries]="countries"></app-country-table>
        </div>
    </div>
</div>